.nav-bar-right {
  background-image: url(../../../assets/images/sidebar.png);
  width: 100px;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

ul {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  li {
    a {
      padding: 60px 0;
      display: block;
      font-size: 40px;
      line-height: 40px;
      color: #060684;
    }

    &:hover {
      .anchor-icon {
        color: #ffd700;
      }
    }
  }
}
