.nav-bar-right {
  background-image: url(../../../assets/images/sidebar.png);
  width: 100px;
  height: 97%;
  right: 7px;
  position: absolute;
  top: 10px;
  
  border-radius: 5px ;
  z-index: 3;
  min-height: 500px;
}

ul {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  li {
    a {
      padding: 60px 0;
      display: block;
      font-size: 40px;
      line-height: 40px;
      color: #0707a1;
    }

    &:hover {
      .anchor-icon {
        color: #e625c5;
      }
    }
  }
}
